@media (orientation:landscape){
    body {
        background-image: url("../img/demon.webp");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media (orientation:portrait){
    body {
        background-image: url("../../assets/img/ange.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-attachment: fixed;
    }
}