@media (orientation:landscape){
    body {
        background: linear-gradient(90deg, #2f80FF, #3ccbff);
        font-size: 20vw;
    }
    i.fa-solid.fa-skull{
        display: none;
    }
}
@media (orientation:portrait){
    body {
        background: linear-gradient(90deg, #6f085a, #c51c53);
        font-size: 40vh;
    }
    i.fa-solid.fa-hands-praying{
        display: none;
    }
}
body{
    overflow: hidden;
    color: white;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }